.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-one {
    width: 300px;
    height: 500px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr;
}

.player-two {
    width: 300px;
    height: 500px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr;
}

.input-grid {
    display:block;
    align-self: start;
    justify-self: center;
}

.pic-grid{
    align-self: center;
    justify-self: center;
}


img {
    height: 200px;
    width: 200px;
}

#grid {
    display: none;
}



.column {
    width: 200px;
    height: 100px;
    margin: 0px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.row {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    background-color: red;
    color: white;
}

body {
    text-align: center;
}

#reset-button{
    margin-top: 10px;
}
