
h1 {
    background-color: yellow;
    color: black;
}



.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-one {
    width: 300px;
    height: 500px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(217, 21, 21);
}

.player-two {
    width: 300px;
    height: 500px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(243, 177, 53);
}

.input-grid {
    display:block;
    align-self: start;
    justify-self: center;
}

.pic-grid{
    align-self: center;
    justify-self: center;
}


img {
    height: 200px;
    width: 200px;
}

#grid {
    display: none;
    background-color: rgb(31, 31, 227);
}



.column {
    width: 200px;
    height: 100px;
    margin: 0px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border-radius: 1100px;
}

.row {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.marker {
    width: 80px;
    height: 80px;
}

#winner-display {
    display: none;
    height: 20px;
    font-size: 30px;
    color: rgb(130, 235, 130);
}

body {
    background-color: purple;
    text-align: center;
}

#reset-button{
    margin-top: 10px;
}



/* CSS */
.button-style {
    margin: 20px 10px; 
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-style:focus {
  outline: 0;
}

.button-style:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-style:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-style {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
